<%= form_with(model: celestial_body, local: true) do |form| %>
  <% if celestial_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(celestial_body.errors.count, "error") %> prohibited this celestial_body from being saved:</h2>

      <ul>
      <% celestial_body.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body_type %>
    <%= form.select :body_type, ["Undefined", "Black Holes", "Neutron Star", "Star", "Gas Giant", "Planet", "Commet", "Asteriod"]%>
  </div>

  <div class="field">
    <%= form.label :volume %> m^3
    <%= form.text_field :volume, id: :celestial_body_volume %>
  </div>

  <div class="field">
    <%= form.label :mass %> kg
    <%= form.text_field :mass, id: :celestial_body_mass %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
