<p id="notice"><%= notice %></p>

<h1>Eventiods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Long descrip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventiods.each do |eventiod| %>
      <tr>
        <td><%= eventiod.name %></td>
        <td><%= eventiod.description %></td>
        <td><%= eventiod.long_descrip %></td>
        <td><%= link_to 'Show', eventiod %></td>
        <td><%= link_to 'Edit', edit_eventiod_path(eventiod) %></td>
        <td><%= link_to 'Destroy', eventiod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventiod', new_eventiod_path %>
