<p id="notice"><%= notice %></p>

<p>
  <strong>Epoch:</strong>
  <%= @relative_time_space.epoch %>
</p>

<p>
  <strong>Epochtime:</strong>
  <%= @relative_time_space.epochtime %>
</p>

<%= link_to 'Edit', edit_relative_time_space_path(@relative_time_space) %> |
<%= link_to 'Back', relative_time_spaces_path %>
